* {
  z-index: 1;
}

body {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.hidden {
  display: none;
}

#login-form {
  z-index: 2;
  position: absolute;
  width: 100%;
  padding: 100% 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.700);
}

#login-form input {
  box-sizing: border-box;
  padding: 10px;
  font-size: 24px;
  border-radius: 30px;
  background-color: white;
  border: none;
}

#login-form input::placeholder {
  position: absolute;
  left: 8%
}

#login-form button{
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 30px;
  margin-left: 10px;
}

#greeting {
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.760);
  padding: 8px 20px;
  color: black;
  border-radius: 50px;
  font-size: 20px;
}

#weather{
  position: absolute;
  top: 205px;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

#clock {
  position: absolute;
  top: 0;
  color: white;
  font-size: 100px;
}

#list_box {
  overflow: auto;
  box-sizing: border-box;
  padding: 20px 25px;
  position: absolute;
  top: 280px;
  width: 400px;
  height: 550px;
  background-color: white;
  border-radius: 25px;
}

#list_box::-webkit-scrollbar {
  display: none;
}

ul{
  width: 100%;
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 8px 15px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid rgb(216, 216, 216);
  border-radius: 20px;
}

.input{
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  border: 2px solid rgb(216, 216, 216);
  border-radius: 10px;
}

li button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  margin-left: 15px;
}

#quote {
  color: white;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: -28px;
  padding-bottom: 10px;
  transition: 0.45s;
  font-size: 15px;
}

#quote span:last-child {
  margin-top: 4px;
}

#quote:hover {
  bottom: 0px;
}

#bgImg {
  z-index: 0;
}

#bgImg img{
  position:absolute;
  width:100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right:0px;
  bottom:0px;
  z-index: 0;
  /* filter: blur(8px); */
}